# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore configuration files
config/config.cnf

#Ignore venv folder
/venv

# Ignore logs
*.log
/logs

#Ignore .env file
.env


# Ignore OS-specific files
.DS_Store
Thumbs.db

#Ignore backups
*.js
*.json
backup/     # Excludes the entire backup directory
