# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore configuration files
config/config.cnf

# Ignore logs
*.log
/logs
# Ignore all files in a specific folder
secrets/

# Ignore OS-specific files
.DS_Store
Thumbs.db

#Ignore backups
*.js
*.json
backup/     # Excludes the entire backup directory
